# Ktlint 룰 설정
root = true

# =====
# [공용]
# =====
[*.{kt,kts}]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 120
tab_width = 4

# 코드 스타일
ktlint_code_style = ktlint_official

# @Composable 함수는 PascalCase 허용
ktlint_function_naming_ignore_when_annotated_with = Composable

# 임포트 정렬 끄기
ktlint_standard_import-ordering = disabled
# 와일드카드 금지
ktlint_standard_no-wildcard-imports = enabled
# 여러 줄 표현의 줄바꿈 해제
ktlint_standard_multiline-expression-wrapping = disabled
# 인자 목록 중간의 빈 줄 허용
ktlint_standard_no-blank-line-in-list = disabled
# 트레일링 콤마 강제 해제
ktlint_standard_trailing-comma-on-call-site = disabled
ktlint_standard_trailing-comma-on-declaration-site = disabled
# 함수 시그니처 괄호 주변 공백 체크 해제
ktlint_standard_function-signature = disabled
# 선언과 주석 사이 빈 줄 강제 해제
ktlint_standard_spacing-between-declarations-with-comments = disabled
# 연속 공백 허용
ktlint_standard_no-multi-spaces = disabled

# ===========
# [테스트 코드]
# ===========
[{**/src/test/**.kt,**/src/androidTest/**.kt,**/src/commonTest/**.kt}]
# 임포트 정렬 끄기
ktlint_standard_import-ordering = disabled

# 테스트에서는 와일드카드 허용
ktlint_standard_no-wildcard-imports = disabled